<style>
body {
    width: 1200px;
    margin: 10px auto;

}
header {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: xx-large;
    font-style: italic;
    text-align: left;
    border-bottom: 2px solid rgb(129, 129, 129);
}
nav  {

    display: inline-block;
    width: 280px;
    height: auto;
    vertical-align: top;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

}
p {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: large;
}
section {
    display: inline-block;
    width: 850px;
    text-align: left;
}
figure {
    display: inline-block;
    width: 850px;
    margin: 0px;
}
div {
    display: inline-block;
    width: 850px;
}
table {
    display: table;
    font-style: normal;
    border-collapse: separate;
    border-spacing: 4px;
    border-color: rgb(128, 128, 128);


}  